rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write for the server-side data sync collection
    match /banca_forte_store/{documentId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
